<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Baby Travel</title>

  <link rel="shortcut icon" href="/images/logos/avion volando fondo transparente.png" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;600&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

{{!--<link rel="stylesheet" href="./css/normalize.css" /> --}}
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/normalize.css" />
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>

  <header>
    <div class="holder">
      <img src="/images\logos\WhatsApp Image 2022-10-21 at 11.34.39.jpeg" alt="Logo Baby Travel" />
      <h1>BABY TRAVEL</h1>
      <img id="imagen" src="/images/logos/avion volando fondo transparente.png" alt="" srcset="">
    </div>

  </header>

  {{{body}}}

  <footer>Diseñado por Federico Douglas Price - &copy;</footer>
</body>

</html>